<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Edit Your Profile</h1>
    <p class="text-center">Need to update your profile? Made a mistake? Here you can edit or update it to your liking</p>
    <div class="well">
     <%= render 'form' %>
    </div>
  </div>
</div>