<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Create Your Profile</h1>
    <p class="text-center">Weather you're looking for work or looking to hire, it all starts here! Fill out the form accordingly</p>
    <div class="well">
     <%= render 'form' %>
    </div>
  </div>
</div>